################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EstudoRabbitMQ/ConsoleConsumidor/bin/Debug/netcoreapp3.1
