################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EstudoRabbitMQ/ConsoleConsumidor/bin/Debug/netcoreapp3.1
/EstudoRabbitMQ/ConsoleConsumidor/obj
/EstudoRabbitMQ/ConsoleProdutor/bin/Debug/netcoreapp3.1
/EstudoRabbitMQ/ConsoleProdutor/obj
